html {
  font-family: Overpass, sans-serif;
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

.white {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  border: solid rgba(255, 255, 255, .7) 3px;
  border-radius: 3px;
  padding: .35em .75em;
}

/*
btn:hover {
  color: #ff2;

}*/

div {
  padding-bottom: 30px;
  border-bottom: solid 3px rgba(255, 255, 255, .5);
}

@media only screen and (min-width: 60em) {

  div:nth-child(2nd) {
    border-bottom: none;
    border-right: solid 3px rgba(255, 255, 255, .5);
  }
}
